<p-table [value]="data" 
[tableStyle]="{ 'min-width': '50rem' }"
selectionMode="single"
[paginator]="true"
[rows]="10">
    <ng-template #header>
        <tr>
            <th>Humidity</th>
            <th>Temperature</th>
            <th>SoilMoisture</th>
            <th>Rainfall</th>
            <th>WaterTemperature</th>
            <th>WaterConsumption</th>
            <th>Date</th>
        </tr>
    </ng-template>
    <ng-template #body let-data>
        <tr>
            <td>{{ data.Value.Humidity }}</td>
            <td>{{ data.Value.Temperature }}</td>
            <td>{{ data.Value.SoilMoisture }}</td>
            <td>{{ data.Value.Rainfall }}</td>
            <td>{{ data.Value.WaterTemperature }}</td>
            <td>{{ data.Value.WaterConsumption }}</td>
            <td>{{ data.Value.Date }}</td>
        </tr>
    </ng-template>
</p-table>