################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PiIrrigateServer/.vs/PiIrrigateServer
/PiIrrigateServer/bin/Debug/net8.0
/PiIrrigateServer/obj
/UserManagement/.env
/UserManagement/bin/Debug/net8.0
/UserManagement/obj
/UserManagement/.env
/PiIrrigateServer/.env
