mat-card {
    max-width: 500px;
    min-width: 300px;
    padding: 10px;
    text-align: center;
    color: white;
}

mat-card-title {
    font-size: 28px;
}

mat-form-field {
    display: block;
}

.register-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

mat-checkbox {
    margin: 20px;
}

