.carousel-item{
    padding-top: 100px;
    height: 20vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.call-to-action-section{
    padding: 100px 0;
}

.sign-up-button{
    margin-top: 100px;
}