<p-toolbar>
  <ng-template #start>
    <p-button (click)="visibleSidebar = true" icon="pi pi-bars" /></ng-template>
</p-toolbar>
<p-drawer [(visible)]="visibleSidebar" header="Drawer">
  <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat.
  </p>
</p-drawer>
<div class="app-container">
  <router-outlet></router-outlet>
</div>