<mat-toolbar color="primary">
    <a routerLink="/">
      <img src="../../assets/logo.png" height="20">
      <span>PiIrrigate</span>
    </a>
  
    <span class="spacer"></span>
    <button mat-button routerLink="dashboard">Dashboard</button>
    <button mat-button routerLink="/zones">Zones</button>
    <button mat-button routerLink="/schedules">Schedules</button>
    <button mat-button routerLink="/history">History</button>
  
    <span class="spacer"></span> <button mat-icon-button matTooltip="System Status">
      <mat-icon [style.color]="systemStatusColor">circle</mat-icon> </button>
  
    <button mat-icon-button matTooltip="Notifications" routerLink="/alerts">
      <mat-icon matBadge="3" matBadgeColor="warn">notifications</mat-icon> </button>
  
    <button mat-icon-button [matMenuTriggerFor]="userMenu" matTooltip="Account">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/profile">Profile</button>
      <button mat-menu-item routerLink="/settings">Settings</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  
  </mat-toolbar>